body {
    background-color: #151312;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 300px 1fr;
    max-width:1200px;
    width: 90%;
    min-height: 1024px;
    flex: 1;
    column-gap: 50px;
    font-family:"Roboto Condensed" ;
    margin: 5% auto;
}

.profile-pic {
    background-color:#F3F4F4;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 100%;
    height: 450px;
    padding: 20px;
    box-sizing: border-box;
}

.my-picture {
    margin-top: 20px;
    width: 70%;
    max-width:200px;
    height: auto;
    border-radius: 20%;
    background-color:#F46C38;
}

    


.profile-pic h2 {
    font-size: 20px;
    font-weight: 900;
    font-family:  "Zain", sans-serif;
    font-style: italic;
}

.profile-pic p {
    color:rgb(70, 70, 70);
    text-align: center;
    margin-bottom: 0;
}

.icons {
    margin-top: 25px;  
}

.icons img {
    width: 25px;
    height: 25px;
    background-color: #F46C38;
    padding: 5px;
    border-radius: 25%;
}


.general-info {
    display: grid;
    grid-template-rows: auto auto auto ;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.header {
    grid-column: span 2;
}

.header h1 {
    font-size: 40px;
}

.white {
    color: white;
}

.dark {
    color:grey
}

.header p {
    color: white;
}

.numbers {
    grid-column: span 2; 
    display: flex;
    justify-content: space-around;
    color: grey;
    font-size: 10px;
    margin-top: 20px;
}

.white-num {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.orange-box {
    background-color:#F46C38;
    align-content: center;
    position: relative;
    padding: 10px;
    height: 200px;
}

.green-box {
    background-color:#C5FF41;
    align-content: center;
    position: relative;
    height: 200px;
    padding: 10px;
}

.orange-box p {
    color:#F3F4F4;
    padding: 14px;
    text-align: center;
    font-size: 24px;
    
}

.img1 {
    position: absolute;
    max-width: 33px;
    height: auto;
    left: 10px;
    top: 10px;

}

.img2 {
    max-width: 35px;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 36px;
}

.green-box p {
    color:#151312;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.projects {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-rows: auto auto auto auto;
    row-gap: 30px;
    column-gap: 10px;
}

.project-head {
    font-size: 30px;
    grid-column: span 2;
}

.p1, .p2, .p3 {
    width: 100%;
    max-width:199px;
    height: auto;  
}

.project1-text  , .project2-text , .project3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.project1-text h3 , .project2-text h3 , .project3-text h3 {
    color: #F3F4F4;
    font-size: 25px;
    margin: 0;
}

.project1-text p , .project2-text p , .project3-text p {
    color: grey;
    font-size: 15px;
    margin: 0;
}

.project1-pic , .project2-pic , .project3-pic {
   display:flex;
    flex-direction: column;
    align-items: center;
}

.experience {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.experience p {
    font-size:15px ;
    color: grey;
}

.experience h4 {
    font-size: 30px;
    color: #F3F4F4;
}

.experience-head {
    font-size: 40px;
    margin-top: 100px;
}

.tools {
    grid-column: 2;
    display: grid;
    grid-template-columns:1fr 1fr; 
    grid-template-rows: 1fr 2.5fr;
    column-gap: 50px;
}

.tools-head {
    grid-column: span 2;
    font-size: 40px;
    margin-top: 100px;
}

.tools img {
    width: 45px;
    height: auto;
    background-color: #F3F4F4;
    padding: 5px;
    border-radius: 20%;
    margin-right: 15px;
    flex-shrink: 0;
    object-fit:contain;
}

.tool1, .tool2, .tool3, .tool4, .tool5, .tool6 {
    display: flex;
    align-items: center;
}

.tool1 p, .tool2 p, .tool3 p, .tool4 p, .tool5 p, .tool6 p {
    font-size: 15px;
}

.toolcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin-bottom: 150px;
}

.footer {
    font-size: 30px;
    text-align: center;
    padding: 40px;
    font-family:"Roboto Condensed" ;
    
}

.orange-text{
    color: #F46C38;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr; /* ستون پروفایل و محتوا زیر هم */
        width: 95%;
        margin: 50px auto;
    }

    .profile-pic {
        width: 100%;
        height: auto;
    }

    .general-info {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .numbers {
        flex-direction: column;
        font-size: 14px;
    }

    .white-num {
        font-size: 28px;
    }

    .orange-box, .green-box {
        flex-direction: row;
        height: auto;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .p1, .p2, .p3 {
        max-width: 100%;
        height: auto;
    }

    .tools img {
        width: 35px;
    }

    .toolcontainer {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}






